.nav-letterSpacing {
    letter-spacing: 1px;
}

.sign-up {
    text-decoration: none;
}

.sign-up:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 29px;
    z-index: 1;
    border-right: 1px solid #0d6efd;
}
.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}
.sidebar .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar .user-info .username {
    font-weight: bold;
}
.sidebar .user-info .position {
    font-size: 0.9em;
    color: #6c757d;
}

/* Sidebar Links */
.sidebar .nav-link {
    color: #333;
    padding: 15px 20px;
    font-size: 1.1rem;
}
.sidebar .nav-link:hover {
    background-color: #bebebe;
}
.sidebar .nav-link.side-active {
    background-color: #0d6efd;
    color: white;
}

/* End Sidebar */

.main-content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 7vh;
}

/* Alert Message */
#error-alert {
    z-index: 100000;
    width: 42%;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.login-error {
    list-style: none;
    padding-left: 1rem;
}


/* Table */

.table-responsive {
    min-width: 400px;
    overflow: hidden;
    border: 1px solid #03346E;
}

.table {
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 1px solid #03346E;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-menu-custom {
    display: none;
    position: fixed; /* Changed to fixed to escape overflow:hidden */
    /* right: 1%;  */
    z-index: 1000;
    background-color: white;
    min-width: 130px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px 0;
    margin-top: 0;
    list-style: none;
    border: 1px solid #ccc;
    text-align: start;
}

.dropdown-menu-custom.show {
    display: block;
}

.dropdown-item {
    padding: 5px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item form {
    margin: 0;
}

.btn {
    cursor: pointer;
}

button.add, button.manageDropdown1 {
    background-color: #002046 !important;
    color: white !important;
    border-color: #002046 !important;
}

button.add:hover, button.manageDropdown1:hover {
    background-color: #004395 !important;
    color: white;
    border-color: #004395 !important;
}

button.add:active, button.manageDropdown1:active {
    background-color: #002046 !important;
    color: white !important;
}

button.add:focus, button.manageDropdown1:focus {
    background-color: #002046 !important;
    color: white !important;
}


/* Profile - Log out */
li.profile-logout a.dropdown-item:focus {
    color: black !important;
}

li.profile-logout a.dropdown-item:active, li.profile-logout button.dropdown-item:active {
    color: black !important;
}