.nav-letterSpacing {
    letter-spacing: 1px;
}

.sign-up {
    text-decoration: none;
}

.sign-up:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 29px;
    z-index: 1;
    border-right: 1px solid #dee2e6;
}
.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}
.sidebar .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar .user-info .username {
    font-weight: bold;
}
.sidebar .user-info .position {
    font-size: 0.9em;
    color: #6c757d;
}

/* Sidebar Links */
.sidebar .nav-link {
    color: #333;
    padding: 15px 20px;
    font-size: 1.1rem;
}
.sidebar .nav-link:hover {
    background-color: #bebebe;
}
.sidebar .nav-link.side-active {
    background-color: #0d6efd;
    color: white;
}

/* End Sidebar */

.main-content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 7vh;
}

/* Alert Message */
#error-alert {
    z-index: 100000;
    width: 42%;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.login-error {
    list-style: none;
    padding-left: 1rem;
}

/* Table */

.table-responsive {
    min-width: 400px;
    /* overflow: hidden; */
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.55); */
    /* background-color: #212529;  */
    border: 1px solid #03346E;

}

.table {
    border-radius: 40px;
    /* overflow: hidden; */
    position: relative;
    border: 1px solid #03346E;
    
}

button.add, button.manageDropdown1 {
    background-color: #03346E;
}

button.add:hover, button.manageDropdown1:hover {
    background-color: #002046;
    color: white;
}

/* .manageDropdown111 {
    position: absolute !important;
    bottom: 1%;
} */