body,
main {
    overflow-x: hidden;
}

.login-container {
    box-shadow: 0 4px 12px rgba(35, 52, 140, 0.5),
        0 8px 24px rgba(35, 52, 140, 0.4);
    background-color: rgb(255, 255, 255, 0.85);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
        background-color 0.3s ease;
}

.login-container:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 8px 16px rgba(35, 52, 140, 0.7),
        0 16px 32px rgba(35, 52, 140, 0.6);
    background-color: rgb(255, 255, 255, 0.96);
}

.staff-user-nav {
    background-color: white;
    border-bottom: 1px solid #0d6efd;
}

.nav-letterSpacing {
    letter-spacing: 1px;
}

.sign-up {
    text-decoration: none;
}

.sign-up:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 29px;
    z-index: 1;
    border-right: 1px solid #0d6efd;
}
.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}
.sidebar .user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar .user-info .username {
    font-weight: bold;
}
.sidebar .user-info .position {
    font-size: 0.9em;
    color: #6c757d;
}

/* Sidebar Links */
.sidebar .nav-link {
    color: #333;
    padding: 15px 20px;
    font-size: 1.1rem;
}
.sidebar .nav-link:hover {
    background-color: #bebebe;
}
.sidebar .nav-link.side-active {
    background-color: #0d6efd;
    color: white;
}

/* End Sidebar */

.main-content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 7vh;
}

/* Alert Message */
#error-alert {
    z-index: 100000;
    width: 42%;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.login-error {
    list-style: none;
    padding-left: 1rem;
}

select {
    cursor: pointer;
}

/* Home Page Services */
.card img.card-img-top {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

/* Table */

.table-responsive {
    width: 100%;
    overflow: hidden;
    border: 1px solid #03346e;
}

.table {
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    border: 1px solid #03346e;
}

tbody tr.light-border {
    border: 1px solid #03346e;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-menu-custom {
    display: none;
    position: fixed; /* Changed to fixed to escape overflow:hidden */
    /* right: 1%;  */
    z-index: 1000;
    background-color: white;
    min-width: 130px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px 0;
    margin-top: 0;
    list-style: none;
    border: 1px solid #ccc;
    text-align: start;
}

.dropdown-menu-custom.show {
    display: block;
}

.dropdown-item {
    padding: 5px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item form {
    margin: 0;
}

.btn {
    cursor: pointer;
}

button.dark-blue,
button.manageDropdown1 {
    background-color: #002046 !important;
    color: white !important;
    border-color: #002046 !important;
}

button.dark-blue:hover,
button.manageDropdown1:hover {
    background-color: #004395 !important;
    color: white;
    border-color: #004395 !important;
}

button.dark-blue:active,
button.manageDropdown1:active {
    background-color: #002046 !important;
    color: white !important;
}

button.dark-blue:focus,
button.manageDropdown1:focus {
    background-color: #002046 !important;
    color: white !important;
}

/* Profile - Log out */
li.profile-logout a.dropdown-item:focus {
    color: black !important;
}

li.profile-logout a.dropdown-item:active,
li.profile-logout button.dropdown-item:active {
    color: black !important;
}

/* Custom Search */
.form-control-custom {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    position: relative;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #002046;
    border-radius: 0;
    /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
    border-color: #002046; /* Custom border color */
}

.form-control-custom:focus {
    color: #212529;
    background-color: #fff;
    border-color: #002046;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-custom {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.25rem;
    color: #212529;
    cursor: pointer;
    z-index: 1;
}
.btn-custom:hover {
    cursor: default;
}
 

/* File Link Styling */
.view-file {
    color: #002046; /* Dark text color for contrast */
    background-color: #c0c0c0; /* Darker grayish background color */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* To apply padding correctly */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.25rem; /* Rounded corners */
    border: 1px solid #a0a0a0; /* Subtle border for definition */
}

.view-file:hover {
    background-color: #a0a0a0; /* Even darker gray for hover effect */
    color: #002046; /* Darker text color on hover to maintain visibility */
    border-color: #808080; /* Darker border on hover */
}

/* Full-Screen Modal Styles */
.qr-thumbnail {
    cursor: pointer;
}

.qr-code-modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.qr-code-modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 80vh;
    margin-top: 10vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}
/* Full Screen End */

/* Print Styles */
a.print i.fa-print:hover {
    color: #004aa5;
    cursor: pointer;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printArea,
    #printArea * {
        visibility: visible;
    }
    #printArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }
}
/* End Print */

/* Custom Pagination */
.custom-pagination-link:hover {
    background-color: #d1e7dd; /* Light green background on hover */
    border-color: #badbcc; /* Slightly darker border color on hover */
}

/* Active page styling */
.custom-active .page-link {
    background-color: #0d6efd; /* Bootstrap primary color for active page */
    color: white; /* White text for active page */
    border-color: #0a58ca; /* Darker border color for active page */
}

/* Disabled state styling */
.page-item.disabled .page-link {
    background-color: #e9ecef; /* Light grey background for disabled items */
    color: #6c757d; /* Muted text color for disabled items */
    border-color: #dee2e6; /* Light grey border color for disabled items */
}

/* End Custom Pagination */

.pointer {
    cursor: pointer;
}

/* Hide the original text when hovered */
.status-responded {
    position: relative;
    text-decoration: none;
    color: inherit; /* Keep the text color the same as surrounding text */
}

.status-responded:hover::before {
    content: "View Details"; /* Replace the original text on hover */
    color: #0a58ca; /* Hover color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

/* Hide the original text */
.status-responded:hover {
    color: transparent !important; /* Hide the original text */
}
/* End */

.respond {
    color: black;
    text-decoration: none;
}
.respond:hover {
    color: #0a58ca;
    text-decoration: underline;
    cursor: pointer;
}

/* Enhanced Animation for Modal Sliding Up */
.modal.fade .modal-dialog {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(
        100px
    ); /* Start position off-screen from the bottom */
    opacity: 0; /* Initially invisible */
}

.modal.show .modal-dialog {
    transform: translateY(0); /* End position on-screen */
    opacity: 1; /* Fully visible */
}

/* Staff Scan Camera */
.camera {
    transition: ease-in-out;
}

.camera:hover {
    background-color: #0d6efd;
    color: white;
}


/* Back Style */
.back {
    color: #0d6efd;
}
.back:hover {
    color: #0B5ED7;
}