.table-blue {
    background-color: #004395;
}

.table-responsive {
    border: 1px solid #0d6efd;
}

/* Custom table header background color */
.table-blue thead th {
    background-color: #0d6efd !important;
    color: white !important; /* Optional: Ensures the text is visible against the blue background */
}

.table-blue tbody td {
    border-color: #004395 !important; /* Ensures border matches the header background */
}

button.dark-blue {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.form-control-custom {
    border-color: #0d6efd;
}

.form-control-custom:focus {
    border-color: #0d6efd;
}